# Bonus

## Courtney Pigford  2/5/2023

In [275]:
import pandas as pd

In [276]:
import re

### Data Validation

In [277]:
zips = pd.Series({'Boston': '02215', 'Miami': '3310'})
zips

Boston    02215
Miami      3310
dtype: object

In [278]:
zips.str.match(r'\d{5}')

Boston     True
Miami     False
dtype: bool

In [279]:
cities = pd.Series(['Boston, MA 02215', 'Miami, FL 33101'])
cities

0    Boston, MA 02215
1     Miami, FL 33101
dtype: object

In [280]:
cities.str.contains(r' [A-Z]{2} ')

0    True
1    True
dtype: bool

In [281]:
cities.str.match(r' [A-Z]{2} ')

0    False
1    False
dtype: bool

#### Reformatting Your Data

In [282]:
contacts = [['Mike Green', 'demo1@deitel.com', '5555555555'], 
            ['Sue Brown', 'demo2@deitel.com', '5555551234']]

contactsdf = pd.DataFrame(contacts, 
                          columns=['Name', 'Email', 'Phone'])

contactsdf

         Name             Email       Phone
0  Mike Green  demo1@deitel.com  5555555555
1   Sue Brown  demo2@deitel.com  5555551234

In [283]:
import re

In [284]:
def get_formatted_phone(value): 
    result = re.fullmatch(r'(\d{3})(\d{3})(\d{4})', value)
    return '-'.join(result.groups()) if result else value

In [285]:
formatted_phone = contactsdf['Phone'].map(get_formatted_phone)

In [286]:
formatted_phone

0    555-555-5555
1    555-555-1234
Name: Phone, dtype: object

In [287]:
contactsdf['Phone'] = formatted_phone

In [288]:
contactsdf

         Name             Email         Phone
0  Mike Green  demo1@deitel.com  555-555-5555
1   Sue Brown  demo2@deitel.com  555-555-1234

In [289]:
import pandas as pd
import re

In [290]:
contacts = [['Mike Green', 'demo1@deitel.com', '5555555555'], 
            ['Sue Brown', 'demo2@deitel.com', '5555551234']]

In [291]:
contactsdf = pd.DataFrame(contacts, 
                          columns=['Name', 'Email', 'Phone'])

In [292]:
def get_formatted_phone(value): 
    result = re.fullmatch(r'(\d{3})(\d{3})(\d{4})', value)
    if result: 
        part1, part2, part3 = result.groups()
        return '(' +part1 + ')' + part2 + '-' + part3
    else: 
        return value

In [293]:
contactsdf['Phone'] = contactsdf['Phone'].map(get_formatted_phone)

In [294]:
contactsdf

         Name             Email          Phone
0  Mike Green  demo1@deitel.com  (555)555-5555
1   Sue Brown  demo2@deitel.com  (555)555-1234